{% extends 'account/adminlte/account_base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{# Display a form #}


{% block content %}
               <div class="container theme-showcase margin-top-navbar" role="main">
                    <a class="btn btn-outline-secondary float-right" href="{% url 'employes:homework_add' %}" role="button"> Add Homework</a>
              <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Homework</th>
                  </tr>
                </thead>
                <tbody>
                  {% for home in home_list %}
                    <tr>
                      <td><a href="">{{ home.homework_title }}-{{ home.student_section }}</a></td>
                        <td class="float-right"><a  href='{% url "employes:confirm_delete_homework" home.id %}'>Delete</a></td>
                        <td class="float-right" ><a href=".">Edit</a></td>
                    </tr>
                 {% endfor %}
                </tbody>
              </table>
           </form>
        </div>
      </div>
{% endblock %}
