{% extends 'account/adminlte/account_base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{# Display a form #}


{% block content %}
               <div class="container theme-showcase margin-top-navbar" role="main">
                    <a class="btn btn-outline-secondary float-right" href="{% url 'employes:listings_add' %}" role="button"> Add Photos</a>
              <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Gallery</th>
                  </tr>
                </thead>
                <tbody>
                  {% for list in listings_list %}
                    <tr>
                      <td><a href="">{{ list.title }}</a></td>
                        <td class="float-right"><a href=".">Delete</a></td>
                        <td class="float-right" style="margin-right: 0.5px;"><a href=".">Edit</a></td>
                    </tr>
                 {% endfor %}
                </tbody>
              </table>
           </form>
        </div>
      </div>
{% endblock %}
